[user]
	email = herma582@umn.edu
	name = Bridger Herman
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
	eol = lf
	autocrlf = input
[merge]
	tool = vimdiff
	conflictstyle = diff3
[diff]
	tool = vimdiff
; [difftool]
	; prompt = false
; [mergetool]
	; prompt = false
[alias]
	d = difftool
[advice]
	pushNonFastForward = false
	statusHints        = false
	commitBeforeMerge  = false
	resolveConflict    = false
	implicitIdentity   = false
	detachedHead       = false
