"*":
  core:
    customFileTypes:
      "source.cpp": [
        "h"
      ]
    disabledPackages: [
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    fontSize: 20
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "bb21af36-40af-d566-a79f-bb07751f00c6"
  "one-dark-ui":
    fontSize: 16
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndentOnPaste: false
    softWrap: false
    softWrapAtPreferredLineLength: false
